<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.jns.Omni</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.jns.Omni</string>
			</array>
		</dict>
	</array>
	<key>SupabaseURL</key>
	<string>https://rchropdkyqpfyjwgdudv.supabase.co</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjaHJvcGRreXFwZnlqd2dkdWR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDQxNjcsImV4cCI6MjA3MDYyMDE2N30.ZfHFGnqY9XaPqV9oMnxScE4Wuj7dWBLe-NHHQ8GAzaw</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Omni uses Face ID to securely authenticate you without needing to enter your password each time.</string>
</dict>
</plist>
